<div class="container">
  <h1 class="mt-4">Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>

  <%= link_to 'Create a New Event', new_event_path, class: 'btn btn-outline-primary' %>
</div>
